{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "> 3%"
                    ]
                },
                "useBuiltIns": "entry"
            }
        ],
        "@babel/preset-react"
    ],
    "env": {
        "testing": {
            "plugins": [
                "rewire"
            ]
        }
    }
}
